.img-focus {
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  max-width: none;
  z-index: 100000;
  position: relative; }
  .img-focus:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri/Calibri.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GOTHAM-BLACK';
  src: url("../fonts/GOTHAM-BLACK/GOTHAM-BLACK.OTF");
  font-weight: normal;
  font-style: normal; }
body {
  overflow-x: hidden; }

h2 {
  font-family: 'GOTHAM-BLACK';
  font-size: 55px;
  color: #00a199;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 45px 0; }
  @media (max-width: 767px) {
    h2 {
      font-size: 40px; } }

.conteudo {
  padding: 0 0 60px; }

.menu-tablet {
  position: absolute;
  left: 0px;
  right: 0px; }
  @media (max-width: 767px) {
    .menu-tablet {
      display: none; } }
  .menu-tablet .menu-conteudo-tablet {
    margin-top: 48px;
    float: right; }
  .menu-tablet ul li {
    display: inline-block;
    padding: 3px 5px 3px 5px; }
    .menu-tablet ul li a {
      width: 421px;
      height: 16px;
      font-family: 'Comfortaa-Regular';
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      text-decoration: none; }
      .menu-tablet ul li a:hover {
        border-bottom: 4px solid #ddd; }
  .menu-tablet .divBusca-top .lupa1 {
    font-size: 20px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-color: transparent;
    height: 18px;
    width: 30px;
    border: none; }
  .menu-tablet .divBusca-top input[type='text'] {
    border: none;
    width: 100px;
    border-bottom: 2px solid #fff;
    background-color: transparent; }

.menu-fixo {
  display: none;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100100;
  -webkit-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75); }
  .menu-fixo:hover {
    opacity: 1; }
  .menu-fixo .barra-superior {
    background-color: #eeeeee; }
    .menu-fixo .barra-superior .traco {
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px; }
    .menu-fixo .barra-superior img.wpp {
      width: 13%;
      padding: 10px 0px;
      float: right; }
    .menu-fixo .barra-superior img.redes {
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px; }
    .menu-fixo .barra-superior .fb {
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px; }
    .menu-fixo .barra-superior .inst {
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px; }
    .menu-fixo .barra-superior p {
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right; }
  .menu-fixo .topo .logo img {
    margin: 13px 17px;
    width: 35%; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .menu-fixo .topo .logo img {
        width: 65%;
        padding: 7px; } }
  .menu-fixo .topo ul {
    margin-top: 17px;
    float: right; }
    .menu-fixo .topo ul li {
      display: inline-block;
      padding: 3px 5px 3px 5px; }
      .menu-fixo .topo ul li .drop a {
        font-family: 'TwCenMTStd-Bold';
        font-size: 28px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-align: left;
        color: #313131;
        text-decoration: none; }
        .menu-fixo .topo ul li .drop a:hover {
          border-bottom: 1px solid #ddd; }
      .menu-fixo .topo ul li .drop .dropdown-menu {
        text-align: center;
        left: -50px; }
      .menu-fixo .topo ul li a {
        font-family: 'GOTHAM-BLACK';
        font-size: 16px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-align: left;
        color: #434343;
        text-decoration: none; }
  @media (max-width: 767px) {
    .menu-fixo {
      display: none !important; } }

.top-mob {
  text-align: center;
  display: none;
  text-align: center;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: #fff;
  z-index: 10000000000;
  padding: 10px;
  box-shadow: -1px 2px 20px 0px #b7b7b7; }
  .top-mob img {
    display: inline-block; }
  @media (max-width: 767px) {
    .top-mob {
      display: block;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .top-mob {
      display: block;
      text-align: center; } }

@media (max-width: 767px) {
  .logo-mobile {
    position: fixed;
    left: -500px;
    height: auto;
    bottom: 0px;
    right: auto;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 100000000;
    text-align: center;
    padding: 10px; }
    .logo-mobile .espaco img {
      width: 60%; } }
.logo-mobile .itens {
  z-index: 999;
  text-align: center;
  overflow: hidden;
  display: none; }
  @media (max-width: 767px) {
    .logo-mobile .itens {
      display: block;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .logo-mobile .itens {
      display: block;
      text-align: center; } }
  .logo-mobile .itens ul {
    padding: 60px 0px; }
    .logo-mobile .itens ul li {
      padding: 8px 0px 8px 0px;
      list-style: none;
      text-decoration: none;
      width: 100%;
      text-align: center; }
      .logo-mobile .itens ul li a {
        font-family: 'Montserrat-Regular';
        font-size: 22px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none; }
        .logo-mobile .itens ul li a:hover {
          border-bottom: 2px solid #ddd; }
    .logo-mobile .itens ul p {
      font-family: 'Lato', sans-serif;
      color: #fff;
      text-align: left;
      font-size: 20px;
      white-space: nowrap;
      text-align: center; }
  .logo-mobile .itens .site {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #c9b5e0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px; }
    .logo-mobile .itens .site a {
      color: #c9b5e0;
      font-family: 'Ubuntu', sans-serif;
      font-size: 15px; }
    .logo-mobile .itens .site p {
      color: #c9b5e0;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px; }
  .logo-mobile .itens .dados-rodape {
    border-top: 1px solid #fff;
    padding-top: 10px;
    text-align: center; }
    .logo-mobile .itens .dados-rodape a {
      color: #fff;
      font-family: 'Muli', sans-serif;
      font-size: 16px; }
    .logo-mobile .itens .dados-rodape img {
      padding: 0px; }

.menu-mobile {
  display: none;
  padding-top: 20px; }
  @media (max-width: 767px) {
    .menu-mobile {
      display: block;
      background-image: url(../img/menu-mobile.png);
      width: 24px;
      height: 24px;
      position: fixed;
      top: 17px;
      left: 15px;
      z-index: 1000000000000;
      background-repeat: no-repeat;
      background-size: cover; } }

.menu {
  left: 0px;
  right: 0px;
  z-index: 110000000000;
  background-color: #fff;
  border-top: 10px solid #127f77; }
  .menu .logo-menu {
    margin-top: 20px;
    width: 52%; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .menu .logo-menu {
        width: 66%; } }
  .menu .barra-superior {
    background-color: #eeeeee;
    padding: 15px; }
    .menu .barra-superior .box-barra {
      float: right; }
    .menu .barra-superior img {
      float: left;
      margin: 0 15px; }
    .menu .barra-superior .iniline {
      display: inline-flex; }
    .menu .barra-superior .telefone {
      font-family: 'Calibri';
      font-size: 22px;
      color: #434343;
      letter-spacing: 3px;
      top: -15px !important; }
    .menu .barra-superior .altura {
      top: -11px;
      position: relative; }
    .menu .barra-superior .traco {
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px; }
    .menu .barra-superior img.wpp {
      width: 13%;
      padding: 10px 0px;
      float: right; }
    .menu .barra-superior img.redes {
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px; }
    .menu .barra-superior .fb {
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px; }
    .menu .barra-superior .inst {
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px; }
    .menu .barra-superior p {
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right; }
  .menu .altura-menu {
    padding: 28px 0px; }
    .menu .altura-menu .logo-menu {
      margin: 13px 17px;
      width: 90%; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .menu .altura-menu .logo-menu {
          width: 66%; } }
    @media (max-width: 767px) {
      .menu .altura-menu {
        display: none; } }
    .menu .altura-menu ul.menu-conteudo {
      text-align: center; }
      .menu .altura-menu ul.menu-conteudo li {
        display: inline-block;
        padding: 3px 5px 3px 5px;
        margin: 0px 17px; }
        .menu .altura-menu ul.menu-conteudo li a {
          font-family: 'GOTHAM-BLACK';
          font-size: 18px;
          letter-spacing: 1.4px;
          text-transform: uppercase;
          text-align: left;
          color: #434343;
          text-decoration: none; }
        .menu .altura-menu ul.menu-conteudo li .dropdown-menu {
          text-align: center;
          left: -50px; }
  .menu .divBusca-top .lupa1 {
    font-size: 20px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-color: transparent;
    height: 18px;
    width: 30px;
    border: none; }
  .menu .divBusca-top input[type='text'] {
    border: none;
    width: 100px;
    border-bottom: 2px solid #fff;
    background-color: transparent; }

footer {
  color: #ddd; }
  footer .espaco-footer p {
    font-size: 12px;
    font-family: 'Nunito-Regular';
    color: #fff;
    text-align: center;
    padding-top: 5px; }
  @media (max-width: 767px) {
    footer {
      text-align: center; } }
  @media (max-width: 767px) {
    footer img {
      float: none; } }
  footer .redes img {
    float: none; }

.footer {
  background-color: #ddd;
  background-image: url("../img/footer-fundo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%; }
  .footer .redes1 {
    position: relative;
    margin-top: 30px; }
    .footer .redes1 img {
      float: right;
      margin: 10px;
      width: 32px; }
  .footer .conteudo-footer .box {
    text-align: center;
    margin: 115px 0px; }
    .footer .conteudo-footer .box img {
      width: 50%; }
    .footer .conteudo-footer .box p {
      font-family: 'DIN-Bold';
      font-size: 24px;
      color: #fff;
      margin: 60px 0px; }

.copy {
  background-color: #fff;
  padding: 10px 0px;
  border-top: 5px solid #2e5d5b; }
  @media (max-width: 767px) {
    .copy {
      padding: 3px 0px; } }
  .copy .text-footer p {
    font-family: 'calibri';
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #2e5d5b; }
    @media (max-width: 767px) {
      .copy .text-footer p {
        letter-spacing: inherit;
        line-height: inherit;
        font-size: 13px; } }

.section-home .servicos-destaque {
  margin-top: -80px; }
  @media (max-width: 767px) {
    .section-home .servicos-destaque .esp {
      margin-bottom: 20px; } }
  .section-home .servicos-destaque .imagem-serv-dest {
    height: 292px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #ddd; }
    @media (max-width: 767px) {
      .section-home .servicos-destaque .imagem-serv-dest {
        height: 120px; } }
    @media (min-width: 768px) and (max-width: 1199px) {
      .section-home .servicos-destaque .imagem-serv-dest {
        height: 120px; } }
    .section-home .servicos-destaque .imagem-serv-dest:hover {
      border-bottom: 5px solid #2ba3d5; }
      .section-home .servicos-destaque .imagem-serv-dest:hover .over1 {
        display: none; }
      .section-home .servicos-destaque .imagem-serv-dest:hover .overlay {
        top: 0px; }
    .section-home .servicos-destaque .imagem-serv-dest .overlay {
      bottom: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      top: 100%;
      background-color: rgba(21, 20, 20, 0.6);
      transition: all 0.3s ease-out;
      text-align: center;
      display: table;
      height: 292px;
      width: 100%;
      z-index: 100; }
      .section-home .servicos-destaque .imagem-serv-dest .overlay .int-over {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .section-home .servicos-destaque .imagem-serv-dest .overlay .int-over p {
          font-family: 'Nunito-Regular';
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff; }
  .section-home .servicos-destaque .box-cinza {
    background-color: #e7e7e7;
    padding: 30px; }
    .section-home .servicos-destaque .box-cinza h3 {
      font-family: 'Muli', sans-serif;
      font-size: 17.5px;
      font-weight: bold;
      font-style: normal;
      margin: 0px;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #979797;
      text-transform: uppercase; }
    .section-home .servicos-destaque .box-cinza .limita {
      height: 39px;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
      .section-home .servicos-destaque .box-cinza .limita p {
        font-size: 11.5px;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #979797; }

.banner .position-banner {
  position: absolute;
  display: flex;
  align-items: center;
  height: 1130px;
  width: 100%; }
  @media (max-width: 767px) {
    .banner .position-banner {
      height: 550px;
      margin-left: -20px; } }
  .banner .position-banner span {
    font-family: 'GOTHAM-BLACK';
    font-size: 37px;
    color: #fff;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .banner .position-banner span {
        font-size: 24px; } }
  .banner .position-banner a {
    font-family: 'calibri';
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: #ddd;
    padding: 7px 30px;
    border-radius: 20px; }
  .banner .position-banner .verde {
    background-color: #20bb844a;
    width: 100%;
    text-align: center; }
  .banner .position-banner .verde-agua {
    background-color: #1eb8be4a;
    width: 100%;
    text-align: center; }
  .banner .position-banner .azul {
    background-color: #2491cc4a;
    width: 100%;
    text-align: center; }
  .banner .position-banner .imagem-hover {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    @media (max-width: 767px) {
      .banner .position-banner .imagem-hover {
        margin: 7.5px 0px; } }
    .banner .position-banner .imagem-hover:hover .over1 {
      display: none; }
    .banner .position-banner .imagem-hover:hover .overlay {
      top: 0px; }
    .banner .position-banner .imagem-hover a {
      border: unset; }
    .banner .position-banner .imagem-hover .verde {
      background-color: #20bb84; }
    .banner .position-banner .imagem-hover .verde-agua {
      background-color: #1eb8be; }
    .banner .position-banner .imagem-hover .azul {
      background-color: #2491cc; }
    .banner .position-banner .imagem-hover p {
      font-family: 'Calibri';
      font-size: 25px;
      color: #ffffff;
      text-transform: uppercase;
      padding: 0 65px;
      position: relative;
      z-index: 100000000000;
      display: table-cell;
      vertical-align: middle;
      height: 220px; }
      @media (max-width: 767px) {
        .banner .position-banner .imagem-hover p {
          padding: 0 22px;
          font-size: 20px;
          line-height: 37px;
          font-weight: bold; } }
    .banner .position-banner .imagem-hover .overlay {
      bottom: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      top: 100%;
      transition: all 0.3s ease-out;
      text-align: center;
      display: table;
      height: 220px;
      width: 100%;
      z-index: 1000;
      margin: 0; }
.banner img {
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center; }
  @media (max-width: 767px) {
    .banner img {
      height: 550px; } }
.banner .swiper-pagination-banner-princ {
  position: relative;
  top: -45px;
  z-index: 1000;
  text-align: center; }
.banner .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-family: 'Ubuntu-Medium';
  font-size: 14px;
  background-color: #fff;
  opacity: unset; }
.banner .swiper-pagination-bullet-active {
  font-family: 'Ubuntu-Medium';
  font-size: 14px;
  background-color: #999999;
  text-decoration: underline;
  opacity: unset; }

.sobre img.quad {
  float: right; }
  @media (max-width: 767px) {
    .sobre img.quad {
      display: none; } }
.sobre img.m-lat {
  margin: 55px 0; }
  @media (max-width: 767px) {
    .sobre img.m-lat {
      display: none; } }
.sobre p {
  font-family: 'calibri';
  font-size: 18px;
  color: #434343;
  margin: 0 0 20px;
  text-align: justify; }

.atendimento {
  background-color: #2e5d5b; }
  .atendimento .titulo {
    border: 2px solid #1ba199;
    padding: 15px 27px;
    margin: 13px 0; }
    .atendimento .titulo:hover {
      background-color: #296f6c; }
  .atendimento h2 {
    color: #fff; }
    @media (max-width: 767px) {
      .atendimento h2 {
        font-size: 35px !important;
        text-align: center; } }
  .atendimento h3 {
    font-family: 'calibri';
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: -9px;
    left: 10px; }
    @media (max-width: 767px) {
      .atendimento h3 {
        font-size: 18px; } }
  .atendimento p {
    font-family: 'calibri';
    font-size: 16px;
    color: #fff;
    text-align: justify;
    margin: 6px 0;
    height: 120px; }
    @media (max-width: 767px) {
      .atendimento p {
        font-size: 13px;
        clear: both; } }
  .atendimento img {
    float: left; }
    @media (max-width: 767px) {
      .atendimento img {
        margin: 0px 0px 10px 0px; } }

.parceiros {
  padding: 20px 0 0; }
  @media (max-width: 767px) {
    .parceiros {
      text-align: center; } }
  .parceiros img {
    margin: 40px 0; }
  .parceiros img.banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    margin: 0; }

.depoimentos img {
  display: block;
  margin: 0 auto; }
.depoimentos .nome {
  font-family: 'calibri';
  font-size: 22px;
  color: #127f77;
  text-align: center; }
  @media (max-width: 767px) {
    .depoimentos .nome {
      margin: 15px 0px; } }
.depoimentos p {
  font-family: 'calibri';
  font-size: 16px;
  color: #434343;
  text-align: justify; }
  @media (max-width: 767px) {
    .depoimentos p {
      margin: 0px 36px; } }
@media (max-width: 767px) {
  .depoimentos h2 {
    font-size: 35px !important;
    text-align: center; } }
.depoimentos .swiper-pagination-depoimentos {
  position: relative;
  top: 25px;
  z-index: 1000;
  text-align: center; }
.depoimentos .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-family: 'Ubuntu-Medium';
  font-size: 14px;
  background-color: #fff;
  opacity: unset; }
.depoimentos .swiper-pagination-bullet-active {
  font-family: 'Ubuntu-Medium';
  font-size: 14px;
  background-color: #999999;
  text-decoration: underline;
  opacity: unset; }

.logo {
  margin-bottom: 15px !important;
  margin-left: 15px !important; }

.contato {
  background-color: #eeeeee; }
  @media (max-width: 767px) {
    .contato {
      text-align: center; } }
  .contato img {
    margin: 0 7px 0 0; }
    @media (max-width: 767px) {
      .contato img {
        margin: 14px 0px; } }
  .contato h4 {
    padding-left: 15px; }
  @media (max-width: 767px) {
    .contato h2 {
      font-size: 35px !important;
      text-align: center; } }
  .contato label {
    font-family: 'calibri';
    font-size: 16px;
    font-weight: bold;
    color: #434343; }
  .contato input {
    width: 100%;
    height: 50px;
    border: transparent;
    margin: 0 0 15px; }
  .contato input[type='submit'] {
    width: 30%;
    height: 40px;
    border: transparent;
    margin: 0 0 15px;
    background-color: #434343;
    color: #fff;
    float: right; }
  .contato textarea {
    width: 100%;
    height: 150px;
    border: transparent;
    margin: 0 0 15px; }
  .contato h4 {
    font-family: 'calibri';
    font-size: 22px;
    font-weight: bold;
    color: #434343;
    margin: 15px 0; }
  .contato p {
    font-family: 'calibri';
    font-size: 16px;
    color: #434343; }
  .contato span {
    font-family: 'calibri';
    font-size: 16px;
    color: #434343;
    display: inline-flex;
    margin-bottom: 5px; }
    @media (max-width: 767px) {
      .contato span {
        display: block;
        clear: both; } }

.mapa {
  background-color: #eeeeee; }
