.img-focus {
  -webkit-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  max-width: none;
  z-index: 100000;
  position: relative;
  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri/Calibri.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GOTHAM-BLACK';
  src: url('../fonts/GOTHAM-BLACK/GOTHAM-BLACK.OTF');
  font-weight: normal;
  font-style: normal;
}

@import "compass";
$phone: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1199px)';
$notbook: '(min-width: 995px) and (max-width: 1515px)';
$netbook: '(min-width: 1050px) and (max-width: 1081px)';
$tablet-horizontal: '(min-width: 768px) and (max-width: 1024px) and (orientation : portrait) ';

$verde: #127f77;
$azul: #00a199;
$verde_esc: #2e5d5b;


body{
  overflow-x: hidden;
}

h2{
	font-family: 'GOTHAM-BLACK';
	font-size: 55px;
	color: $azul;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-align: center;
	margin: 45px 0;
  @media #{$phone}{
    font-size: 40px;
  }
}
.conteudo{
	padding: 0 0 60px;
}

.menu-tablet {
  position: absolute;
  left: 0px;
  right: 0px;

  @media #{$phone}{
    display: none;
  }
  
  .menu-conteudo-tablet {
    margin-top: 48px;
    float: right;
  }

  ul {
    li {
      display: inline-block;
      padding: 3px 5px 3px 5px;
      a {
        width: 421px;
        height: 16px;
        font-family: 'Comfortaa-Regular';
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        text-decoration: none;

        &:hover {
          border-bottom: 4px solid #ddd;
        }
      }
    }
  }
  
  .divBusca-top {
    .lupa1 {
      font-size: 20px;
      background-image: url(../img/lupa.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-color: transparent;
      height: 18px;
      width: 30px;
      border: none;
    }
    
    input[type='text'] {
      border: none;
      width: 100px;
      border-bottom: 2px solid #fff;
      background-color: transparent;
    }
  }
}

.menu-fixo {
  display:none;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100100;
  -webkit-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);

  &:hover{
    opacity:1;
  }
  .barra-superior{
    background-color: #eeeeee;
    .traco{
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px;
    }

    img.wpp{
      width: 13%;
      padding: 10px 0px;
      float: right;
    }

    img.redes{
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px;
    }

    .fb{
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px;
    }

    .inst{
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px;
    }


    p{
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right;
    }
  }
  .topo {
    .logo {
      img {
        margin: 13px 17px;
        width: 35%;
        
        @media #{$tablet}{
          width: 65%;
          padding: 7px;
        }
      }
    }

    ul {
      margin-top: 17px;
      float: right;

      li {
        display: inline-block;
        padding: 3px 5px 3px 5px;

        .drop{
          a{
            font-family: 'TwCenMTStd-Bold';
            font-size: 28px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            text-align: left;
            color: #313131;
            text-decoration: none;

            &:hover {
              border-bottom: 1px solid #ddd;
            }
          }

          .dropdown-menu{
            text-align: center;
            left: -50px;
          }
        }

        a {
         font-family: 'GOTHAM-BLACK';
			font-size: 16px;
			letter-spacing: 1.4px;
			text-transform: uppercase;
			text-align: left;
			color: #434343;
			text-decoration: none;
        }
      }
    }
  }

  @media #{$phone}{
    display: none !important;
  }
}

.top-mob {
  text-align: center;
  display: none;
  text-align: center;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: #fff;
  z-index: 10000000000;
  padding: 10px;
  box-shadow: -1px 2px 20px 0px #b7b7b7;
  img {
    display: inline-block;
  }
  @media #{$phone}{
    display: block;
    text-align: center;
  }
  @media #{$tablet}{
    display: block;
    text-align: center;
  }
}


@media #{$phone}{
  .logo-mobile {
    position: fixed;
    left: -500px;
    height: auto;
    bottom: 0px;
    right: auto;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 100000000;
    text-align: center;
    padding: 10px;

    .espaco{
      img {
        width: 60%;
      }
    }
  }
}
  .logo-mobile {
    

    .itens {

      z-index: 999;
      text-align: center;
      overflow: hidden;

      @media #{$phone}{
        display: block;
        text-align: center;
      }

      @media #{$tablet}{
        display: block;
        text-align: center;
      }
      display: none;

      ul {
        padding: 60px 0px;

        li {
          padding: 8px 0px 8px 0px;
          list-style: none;
          text-decoration: none;
          width: 100%;
          text-align: center;

          a {
            font-family: 'Montserrat-Regular';
            font-size: 22px;
            color: #000;
            text-transform: uppercase;
            text-decoration: none;

            &:hover{
              border-bottom: 2px solid #ddd;
            }
          }
        }

        p {
          font-family: 'Lato', sans-serif;
          color: #fff;
          text-align: left;
          font-size: 20px;
          white-space: nowrap;
          text-align: center;
        }
      }
      .site {
        padding-top: 30px;
        padding-bottom: 10px;
        color: #c9b5e0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;

        a {
          color: #c9b5e0;
          font-family: 'Ubuntu', sans-serif;
          font-size: 15px;
        }
        p {
          color: #c9b5e0;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
        }
      }
      .dados-rodape {
        border-top: 1px solid #fff;
        padding-top: 10px;
        text-align: center;
        a {
          color: #fff;
          font-family: 'Muli', sans-serif;
          font-size: 16px;
        }
        img {

          padding: 0px;
        }
      }
    }
  }

.menu-mobile {
  display: none;
  padding-top: 20px;
  
  @media #{$phone}{
    display: block;
    background-image: url(../img/menu-mobile.png);
    width: 24px;
    height: 24px;
    position: fixed;
    top: 17px;
    left: 15px;
    z-index: 1000000000000;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu {
  left: 0px;
  right: 0px;
  z-index: 110000000000;
  background-color: #fff;
  border-top: 10px solid $verde;

  .logo-menu {
    margin-top: 20px;
    width: 52%;

    @media #{$tablet}{
      width: 66%;
    }
  }

  .barra-superior{
    background-color: #eeeeee;
    padding: 15px;

	 .box-barra{
		 float: right;
	 }
	 	img{
		 	float: left;
		   margin: 0 15px;
	 	}

	 .iniline{
		 display: inline-flex;
	 }

	 .telefone{
		 font-family: 'Calibri';
		 font-size: 22px;
		 color: #434343;
		 letter-spacing: 3px;
		 top: -15px!important;
	 }

	.altura{
		top: -11px;
    	position: relative;
	}

    .traco{
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px;
    }

    img.wpp{
      width: 13%;
      padding: 10px 0px;
      float: right;
    }

    img.redes{
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px;
    }

     .fb{
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px;
    }

    .inst{
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px;
    }

    p{
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right;
    }
  }

  .altura-menu{
    padding: 28px 0px;

    .logo-menu {
      margin: 13px 17px;
      width: 90%;

      @media #{$tablet}{
        width: 66%;
      }
    }

    @media #{$phone}{
      display: none;
    }

    ul.menu-conteudo {
      text-align: center;

      li {
        display: inline-block;
        padding: 3px 5px 3px 5px;
        margin: 0px 17px;

        a {
          font-family: 'GOTHAM-BLACK';
          font-size: 18px;
          letter-spacing: 1.4px;
          text-transform: uppercase;
          text-align: left;
          color: #434343;
          text-decoration: none;
        }

        .dropdown-menu{
          text-align: center;
          left: -50px;
        }
      }
    }
  }
   
  .divBusca-top {

    .lupa1 {
      font-size: 20px;
      background-image: url(../img/lupa.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-color: transparent;
      height: 18px;
      width: 30px;
      border: none;
    }
    input[type='text'] {

      border: none;
      width: 100px;
      border-bottom: 2px solid #fff;
      background-color: transparent;
    }
  }
}

footer {
  color: #ddd;

  .espaco-footer {
    p {
      font-size: 12px;
      font-family: 'Nunito-Regular';
      color: #fff;
      text-align: center;
      padding-top: 5px;
    }
  }

  @media #{$phone}{
    text-align: center;
  }

  img {
    @media #{$phone}{
      float: none;
    }
  }
  .redes {
    img {
      float: none;
    }
  }
}

.footer {
  background-color: #ddd;
  background-image: url('../img/footer-fundo.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;

  .redes1{
    position: relative;
    margin-top: 30px;
    img{
      float: right;
      margin: 10px;
      width: 32px;
    }
  }

  .conteudo-footer{
    .box{
      text-align: center;
      margin: 115px 0px;

      img{
        width: 50%;
      }
      p{
        font-family: 'DIN-Bold';
        font-size: 24px;
        color: #fff;
        margin: 60px 0px;
      }
    }
  }
}

.copy{
  background-color: #fff;
  padding: 10px 0px;
  border-top: 5px solid $verde_esc;
  @media #{$phone}{
    padding: 3px 0px
  } 
  .text-footer{
    p{
      font-family: 'calibri';
      font-size: 16px;
      letter-spacing: 0.6px;
      color: $verde_esc;

      @media #{$phone}{
        letter-spacing: inherit;
        line-height: inherit;
        font-size: 13px;
      }
    }
  }
} 

.section-home {
  .servicos-destaque {
    margin-top: -80px;

    .esp {
      @media #{$phone}{
        margin-bottom: 20px;
      }
    }

    .imagem-serv-dest {
      height: 292px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
      position: relative;
      border-bottom: 5px solid #ddd;
      
      @media #{$phone}{
        height: 120px;
      }
      
      @media #{$tablet}{
        height: 120px;
      }

      &:hover {
        border-bottom: 5px solid #2ba3d5;
        .over1 {
          display: none;
        }
        .overlay {
          top: 0px;
        }
      }

      .overlay {
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        top: 100%;
        background-color: rgba(21, 20, 20, 0.6);
        transition: all 0.3s ease-out;
        text-align: center;
        display: table;
        height: 292px;
        width: 100%;
        z-index: 100;

        .int-over {
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          
          p {
            font-family: 'Nunito-Regular';
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }

    .box-cinza {
      background-color: #e7e7e7;
      padding: 30px;
      
      h3 {
        font-family: 'Muli', sans-serif;
        font-size: 17.5px;
        font-weight: bold;
        font-style: normal;
        margin: 0px;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #979797;
        text-transform: uppercase;
      }

      .limita {
        height: 39px;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        p {
          font-size: 11.5px;
          font-family: 'Muli', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #979797;

        }
      }
    }
  }
}

.banner{
	.position-banner{
		position: absolute;
		display: flex;
		align-items: center;
		height: 1130px;
		width: 100%;

		@media #{$phone}{
			height: 550px;
      margin-left: -20px
		}

		span{
			font-family: 'GOTHAM-BLACK';
			font-size: 37px;
			color: #fff;
			text-transform: uppercase;
		
			@media #{$phone}{
    			font-size: 24px;
  			}
		}
		a{
			font-family: 'calibri';
			font-size: 18px;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
			background-color: #ddd;
			padding: 7px 30px;
			border-radius: 20px;
		}

		.verde{
			background-color: #20bb844a;
			width: 100%;
			text-align: center;
		}
		.verde-agua{
			background-color: #1eb8be4a;
			width: 100%;
			text-align: center;
		}
		.azul{
			background-color: #2491cc4a;
			width: 100%;
			text-align: center;
		}

		.imagem-hover {
			width: 100%;
			height: 220px;
			overflow: hidden;
			position: relative;
			cursor: pointer;

			@media #{$phone}{
				margin: 7.5px 0px;
			}

			&:hover {
				.over1 {
					display: none;
				}
				.overlay {
					top: 0px;
				}      
			}
			a{
				border: unset;
			}

			.verde{
				background-color: #20bb84;
			}
			.verde-agua{
				background-color: #1eb8be;
			}
			.azul{
				background-color: #2491cc;
			}

			p{
				font-family: 'Calibri';
				font-size: 25px;
				color: #ffffff;
				text-transform: uppercase;
				padding: 0 65px;
				position: relative;
				z-index: 100000000000;
				display: table-cell;
				vertical-align: middle;
				height: 220px;
        @media #{$phone}{
          padding: 0 22px;
          font-size: 20px;
          line-height: 37px;
          font-weight: bold;
        }
			}
			
			.overlay {
				bottom: 0px;
				left: 0px;
				right: 0px;
				position: absolute;
				top: 100%;
				transition: all 0.3s ease-out;
				text-align: center;
				display: table;
				height: 220px;
				width: 100%;
				z-index: 1000;
				margin: 0;
			}
		}
	}
	img{
		width: 100%;
		height: 750px;
		object-fit: cover;
		object-position: center;

		@media #{$phone}{
			height: 550px;
		}
	}

	.swiper-pagination-banner-princ{
		position: relative;
		top: -45px;
		z-index: 1000;
		text-align: center;
	}
	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 20px;
		font-size: 12px;
		font-family: 'Ubuntu-Medium';
		font-size: 14px;
		background-color: #fff;
		opacity: unset;
	}
	.swiper-pagination-bullet-active {
		font-family: 'Ubuntu-Medium';
		font-size: 14px;
		background-color: #999999;
		text-decoration: underline;
		opacity: unset;
	}
}

.sobre{
	img.quad{
		float: right;
    @media #{$phone}{
      display: none;
    }
	}
	img.m-lat{
		margin: 55px 0;
    @media #{$phone}{
      display: none;
    }
	}
	p{
		font-family: 'calibri';
		font-size: 18px;
		color: #434343;
		margin: 0 0 20px;
    	text-align: justify;
	}
}

.atendimento{
	background-color: $verde_esc;

	.titulo{
		border: 2px solid #1ba199;
		padding: 15px 27px;
    	margin: 13px 0;

		 &:hover{
			background-color: #296f6c;
		 }
	}
	h2{
		color: #fff;
    @media #{$phone}{
      font-size: 35px !important;
      text-align: center;
    }
	}
	h3{
		font-family: 'calibri';
		font-size: 22px;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		top: -9px;
		left: 10px;
    @media #{$phone}{
      font-size: 18px;
    }
	}
	p{
		font-family: 'calibri';
		font-size: 16px;
		color: #fff;
    text-align: justify;
		margin: 6px 0;
    height: 120px;
    @media #{$phone}{
      font-size: 13px;
      clear: both;
    }
	}
	img{
		float: left;
    @media #{$phone}{
      margin: 0px 0px 10px 0px;
    }
	}
}

.parceiros{
	padding: 20px 0 0;
    @media #{$phone}{
      text-align: center;
    }

	img{
		margin: 40px 0;
	}
	img.banner{
		width: 100%;
		height: 600px;
		object-fit: cover;
		object-position: center;
		margin: 0;
	}
}

.depoimentos{

  @media #{$phone}{
    
  }

	img{
		display: block;
    	margin: 0 auto;
	}
	.nome{
		font-family: 'calibri';
		font-size: 22px;
		color: $verde;
		text-align: center;
    @media #{$phone}{
      margin: 15px 0px;
    }
	}
	p{
		font-family: 'calibri';
		font-size: 16px;
		color: #434343;
    text-align: justify;

    @media #{$phone}{
      margin: 0px 36px;
    }
	}
  h2 {
   @media #{$phone}{
        font-size: 35px !important;
        text-align: center;
      }
  }
	.swiper-pagination-depoimentos{
		position: relative;
		top: 25px;
		z-index: 1000;
		text-align: center;
	}
	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 20px;
		font-size: 12px;
		font-family: 'Ubuntu-Medium';
		font-size: 14px;
		background-color: #fff;
		opacity: unset;
	}
	.swiper-pagination-bullet-active {
		font-family: 'Ubuntu-Medium';
		font-size: 14px;
		background-color: #999999;
		text-decoration: underline;
		opacity: unset;
	}
}

.logo {
    margin-bottom: 15px !important;
    margin-left: 15px !important;
} 

.contato{
	background-color: #eeeeee;
    @media #{$phone}{
      text-align: center;
    }

	img{
		margin: 0 7px 0 0;
    @media #{$phone}{
      margin: 14px 0px;
    }
	}

  h4 {
    padding-left: 15px;
  }

  h2 {
    @media #{$phone}{
      font-size: 35px !important;
      text-align: center;
    }
  }

	label{
		font-family: 'calibri';
		font-size: 16px;
		font-weight: bold;
		color: #434343;
	}
	input{
		width: 100%;
		height: 50px;
		border: transparent;
		margin: 0 0 15px;
	}
	input[type='submit']{
		width: 30%;
		height: 40px;
		border: transparent;
		margin: 0 0 15px;
		background-color: #434343;
		color: #fff;
		float: right;
	}
	textarea{
		width: 100%;
		height: 150px;
		border: transparent;
		margin: 0 0 15px;
	}
	h4{
		font-family: 'calibri';
		font-size: 22px;
		font-weight: bold;
		color: #434343;
		margin: 15px 0;
	}
	p{
		font-family: 'calibri';
		font-size: 16px;
		color: #434343;
	}
	span{
		font-family: 'calibri';
		font-size: 16px;
		color: #434343;
    display: inline-flex;
    margin-bottom: 5px;
    @media #{$phone}{
      display: block;
      clear: both;
    }
	}

}

.mapa{
	background-color: #eeeeee;
}