@import "compass";

@include font-face("SourceSansPro", font-files("SourceSansPro-Regular.ttf", "SourceSansPro-Regular.woff", "SourceSansPro-Regular.svg", "SourceSansPro-Regular.eot"));
@include font-face("SourceSansPro SemiBold", font-files("SourceSansPro-SemiBold.ttf", "SourceSansPro-SemiBold.woff", "SourceSansPro-SemiBold.svg", "SourceSansPro-SemiBold.eot"));
@include font-face("SourceSansPro Bold", font-files("SourceSansPro-Bold.ttf", "SourceSansPro-Bold.woff", "SourceSansPro-Bold.svg", "SourceSansPro-Bold.eot"));
@include font-face("SourceSansPro Light", font-files("SourceSansPro-Light.ttf", "SourceSansPro-Light.woff", "SourceSansPro-Light.svg", "SourceSansPro-Light.eot"));

@mixin fonte($fonte) {
	font-family: $fonte, Arial, Verdana, sans-serif;
}

body {
	@include fonte('SourceSansPro');
}

$phone: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1199px)';
$notbook: '(min-width: 995px) and (max-width: 1515px)';
$netbook: '(min-width: 1050px) and (max-width: 1081px)';

.relativo {
	position: relative;
}

.aright {
	float: right;
}

.m-right {
	margin-right: 15px;
}

.btn-top {
	margin-top: 18px;
}
.btn-bot {
	margin-bottom: 18px;
}

.btn-xs {
	padding: 2px 5px 0px 5px;
}

.container {
	opacity: 0;
}

.login {
	.login-form {
		margin-top: 180px;
		color: #5d5d5d;
	    background: #f2f2f2;
	    padding: 26px;
	    @include border-radius(10px);
	}

	form[role=login] input, form[role=login] button {
		font-weight: normal;
	}

	button {
		margin-bottom: 0px;
	}
}

.alteracoes {
	text-align: right;
	line-height: 120%;
	font-size: 16px;
	color: #FFF;
	margin-top: 18px;

	span {
		background: #5cb85c;
		display: inline-block;
		padding: 5px 10px 5px 10px;
		@include border-radius(5px);

		i {
			font-size: 14px;
		}
	}
}

.alteracoes.nao-salvas {
	span {
		background: #CA3737;
	}
}

.fechar {
	color: #FFF;
	float: right;
	cursor: pointer;
	font-size: 20px;
    margin-top: -3px;

	&:hover {
		color: #FFF;
	}
}

textarea,select,input[type=text],input[type=number],input[type=submit],input[type=radio],input[type=checkbox],input[type=password] {
	margin: 0px 5px 0px 0px;
	font-weight: normal;
}

input[type=file] {
	width: 100%;
    height: 28px;
    margin-top: 6px;
}

input[type=checkbox],input[type=radio] {
	margin-top: 3px;
	float: left;
}

label {
	width: 100%;
	display: block;
	margin-bottom: 15px;

	span {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}
}

.grupo {
	margin-top: 5px;
	margin-bottom: 15px;

	label {
		margin-bottom: 5px;
	}
}

.icone {
	i {
	    font-size: 12px;
	    margin-right: 2px;
	}
}

.iconpicker {
	height: 30px;
}

.icons-selector {
	margin-top: 5px;

	.selector {
		width: 55px!important;
	}

	.selected-icon {
		width: 30px;

		i {
			line-height: 28px;
		}
	}
}

.icons-selector {
	.selector-button {
		width: 25px!important;

		i {
			line-height: 30px;
		}
	}
}

.menu_container {
	width: 100%;
	@include box-shadow(0 0 10px rgba(51, 51, 51, 0.38));

	.logo {
		width: 100%;
		padding: 20px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		img {
			width: 100%;
		}
	}

	.menu {
		width: 100%;
		margin: 0px;
		padding: 0px;

		li {
			list-style: none;
			border-bottom: 1px solid #000;

			a {
				display: block;
				background: #444;
				color: #FFF;
				padding: 10px;
				font-size: 15px;
				background-image: linear-gradient(to bottom, #9facb8 0%, #a1a5a8 100%);

				&:hover {
					text-decoration: none;
					background-image: linear-gradient(to bottom,#239279 0,#16523f 100%);
				}

				i {
					margin-right: 10px;
					float: left;
					font-size: 16px;
					margin-top: 2px;
				}
			}

			a.active {
				text-decoration: none;
				background-image: linear-gradient(to bottom,#239279 0,#16523f 100%);;

			}
		}
	}


	@media screen and (max-width: 780px) {
		display: none;
	}
}

.menu-mobile {
	left: 0px;
	top: 0px;
	width: 40px;
	bottom: 0px;
	background: #337ab7;
	color: #FFF;
	position: absolute;
	z-index: 10;
	overflow-x: hidden;
	height: 40px;

	ul {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;

		li {
			list-style: none;
			color: #FFF;
			border-bottom: 1px solid #000;
			padding: 5px 0px 5px 0px;

			a {
				white-space: nowrap;
				color: #FFF;
				position: relative;

				span {
					position: absolute;
					left: 40px;
					top: -4px;
				}

				i {
					width: 40px;
					text-align: center;
					margin-right: 0px;
					font-size: 20px;
					margin-top: 0px;
				}
			}
		}
	}


	@media screen and (min-width: 781px) {
		display: none;
	}
}

.no-bottom{
	margin-bottom: 0px;
}

.icon-config {
	position: absolute;
	left: -10px;
	top: -5px;
	width: 21px;
	height: 22px;
	cursor: pointer;
	background: url('../img/config.png');
}

.table {
	margin-bottom: 0px;
}

.linha {
	border-top: 1px solid #DDDDDD;
	margin: 15px 15px 14px 15px;
	position: relative;

	span {
		width: 40px;
		display: block;
		background: #FFF;
		margin: -8px auto 0px auto;
		text-align: center;
		color: #ADADAD;
	}
}

.table-configuracoes {
	thead {
		td {
			span {
				font-size: 17px;
			}
		}
	}

	td {

		span {
			display: block;
			position: relative;
		}

		.fi-page-edit,.fi-asterisk,.fi-eye {
			cursor: pointer;
		}
	}
}

.table-visualizar {
	width: 100%;

	thead {
		tr {
			td {
				font-weight: bold;
			}
		}
	}

	tbody {

		tr {
			position: relative;

			td.acoes {
				width: 1px;
				white-space: nowrap;

				.ordenar-spot {
					height: 17px;
					margin-top: -17px;
				}

				.button.tiny {
					margin-bottom: 0px;
					width: 30px;
					padding: 5px 0px 5px 0px;

					span {
						display: block;
						font-size: 17px;
					}
				}
			}
		}
	}

	.ordenar-spot {
		display: none;
		height: 17px;
		position: absolute;
	    left: 9px;
	    right: 16px;
		margin-top: -9px;

		span {
			width: 100%;
			height: 1px;
			display: block;
			margin-top: 8px;
			border-bottom: 1px dashed #000;
		}

		.glyphicon {
			position: absolute;
		}

		.glyphicon-triangle-left {
			right: -4px;
		}

		.glyphicon-triangle-right {
			left: -4px;
		}

		&:hover {
			color: green;
			text-align: center;

			span {
				margin-top: 7px;
				border-bottom: 3px solid green;
			}

		}
	}

	.ordenar-titulo {
		cursor: pointer;
	}
}

.alteracao-salva {
	display: none;
	position: absolute;
	font-size: 9px;
	top: -5px;
	right: 5px;
	background: #989898;
	color: #FFF;
	font-weight: bold;
	padding: 0px 4px 0px 4px;
	text-transform: uppercase;
	@include border-radius(3px);
}

.no-pright {
	padding-right: 0px;
}

.no-pleft {
	padding-left: 0px;
}

.mce-tinymce, .mce-reset {
	button:hover, button:focus, .button:hover, .button:focus {
		background-color: #FFF;
	}
}

.crud, .modal-dialog {


	.dados_imagem {
		margin-top: -12px;
		margin-bottom: 15px;

		h5 {
			margin-top: 5px;
		}

		.imagem_cadastrada {
			display: block;
			width: 300px;
			height: 200px;
			margin-bottom: 10px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	.big-icon {
		text-align: center;
		width: 150px;
		height: 150px;
		line-height: 150px;
		font-size: 80px;
		margin-bottom:5px;
		color: #000;
	}

	.galeria {
		margin-top: -15px;
		margin-bottom: 15px;
		padding-left: 0px;

		.item {
			display: inline-block;
			vertical-align: top;
			border: 1px solid #ddd;
			background: #EEE;
			border-radius: 12px;
			padding: 5px;
			text-align: center;
			margin-right: 10px;
			margin-bottom: 10px;

			.imagem_cadastrada {
				border-radius: 12px;
				display: block;
				width: 150px;
				height: 150px;
				margin-bottom: 5px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}



	.end {
		min-height: 85px;
	}

}

#crop-imagem {
	p {
		text-align: center;
	}

	.btn-recortar {
		margin: 20px 0px 0px 0px;
	}

	.cropper {
		width: 500px;
		height: auto;
		margin: 0px auto 0px auto;
	}

	.jcrop-holder {
		margin: 0px auto 0px auto;
	}

	.jcrop-keymgr {
		display: none!important;
	}
}

.container-fluid h1, .container-fluid h2 {
	float: left;

}

h2 {
	i {
	    margin-right: 13px;
	    margin-top: 2px;
	    font-size: 26px;
	    float: left;
	}
}

h1 {
	i {
	    margin-right: 13px;
	    margin-top: 0px;
	    font-size: 28px;
	    float: left;
	}
}

.config-exibir {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;

	input {
		color: #000;
	}

	select {
		width: 70px;
		color: #000;
		text-align: center;
	}

	.btn {
		float: right;
	}

	i {
		color: #FFF;
	}

	.cancelar-ordenacao {
		display: none;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding-top: 6px;
		text-align: center;
		z-index: 5;

	}
}

.tab-item.desativado {
	background: #EEE;
	color: #BBB;
	position: relative;

	&:hover {
		color: #BBB;
	}
}

.aviso_abas {
	display: none;
	border: 1px solid #CCC;
	position: absolute;
	top: 1px;
	right: 15px;
	width: 185px;
	text-align: center;
	line-height: 120%;
	background: #EEE;
	color: #000;
	padding: 2px;
	z-index: 5;
	@include border-radius(12px 12px 12px 12px);
}

.tab-item {
	color: #555;

	&:hover {
		color: #555;
	}
}

.pagination {
	margin: 0px 0px 10px 0px;
	a {
		cursor: pointer;
	}
}

.remover-busca {
	padding: 7px 8px 5px 8px;
	margin-top: 26px;
}

.escondido {
	opacity: 0;
}

.sumir {
	display: none;
}

.lista-campos {
	background: #f5f5f5;
	@include border-radius(7px);
	padding-top: 15px;
	margin: 5px 0px 20px 0px;
}

.campos {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


@media #{$phone}{
	.top-mob {
	  text-align: center;
	  display: block;
	  text-align: center;
	  position: fixed;
	  text-align: center;
	  width: 100%;
	  background-color: #337ab7;
	  z-index: 10;
	  padding: 10px;
	  box-shadow: -1px 2px 20px 0px #b7b7b7;
	  img {
	    display: inline-block;
	  }
	}
	.espace{
		margin: 50px 0px;
	}
}